body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(99, 99, 99), rgb(38, 38, 38));
}

header {
    height: 5em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: rgb(32, 32, 32);
    color: white;
}

.featured-all {
    display: flex;
    gap: 1.25em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.featured-all a {
    padding: 0.5em 1em;

    background: rgba(0, 0, 0, 0.394);
    border-radius: 20px;

    text-decoration: none;
    color: white;
}

.featured-all a:hover{
    background: rgba(122, 122, 122, 0.394);
}

footer {
    height: 70px;
    background-color: rgb(32, 32, 32);
}

.playlist-cards {
    margin: 4em 6em;
    padding: 2em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 3em;
    padding: 2em;
    border: 2px solid rgb(189, 189, 189);
    border-radius: 12px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.305);

    background: white;
}

.card:hover,
.card:focus {
    background-color: rgba(180, 180, 180, 0.906);
    cursor: pointer;
    
}

.modal-overlay {
    border: 1px solid black;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #f8f8f8;
    border: 1px solid black;
    padding: 0.5em;

    width: 50%;
    height: 80%;

    overflow: auto;

    display: flex;
    flex-direction: column;
}

.playlist-header {
    border: 1px solid black;
    margin: 1em;
    padding: 0.5em;

    display: flex;
    flex-direction: row;
}

.close {
    color: grey;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.playlist-info {
    padding: 0 10em 0 1em;
}

.playlist-songlist {
    margin: 1em;
}

.song {
    background: rgba(211, 211, 211, 0.818);
    margin: 0 0 1em 0;
    padding:0.5em;

    display: flex;
    flex-direction: row;

    height: 100px;

    border-radius: 12px;
}

.song:hover {
    cursor: pointer;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.377);
}

.song-info {
    padding: 0 10em 0 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.song-duration {
    margin-left: 15em;
    margin-top: 2.5em;
}

.like-container {
    align-items: center;
}

.like-container i:hover {
    color: black;
    font-weight: 900; 
}

.like-container.liked {
    color: red;
    font-weight: 900; 
    opacity: 0.6;
}

.shuffle-btn {
    cursor: pointer;
}

.featured-playlist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#featured-playlist-img {
    height: 45em;
    width: 45em;
    margin: 7em 0em 0em 4em;

    border-radius: 12px;
}

#featured-title-songs {
    margin: 2em;
}

#featured-playlist-title {
    text-align: center;
    text-transform: uppercase;
}

.delete-btn {
    margin: 1em 0em;
}

.delete-btn:hover {
    cursor: pointer;
    background: rgba(255, 160, 160, 0.581);
}